%html
  %head
    %title
      processlist for
      = @host
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}  
    %script{:src => "/js/jquery.dataTables.min.js"}
    %link{:rel => "stylesheet", :href => "/css/demo_table.css"}
    :javascript
      $(document).ready(function() {
        $('table').dataTable( {
          bPaginate: false
        })
      } )
  %body
    = yield
